ext/** linguist-vendored
*.pro linguist-vendored
*.user linguist-vendored
*.txt linguist-vendored
cmake/* linguist-vendored
CMakeLists.txt linguist-vendored
LICENSE linguist-generated=true
README.md linguist-generated=true